@import "../../node_modules/normalize.css/normalize.css";
.wrapper {
    width: 60%;
    margin: 2rem auto;
}

.arriba{
    display: grid;
    grid-template-columns: 70% 30%;
}

.abajo{
    display: grid;
    grid-template-columns: 30% 70%;
}

article figure.fig1 {
    width: 30%;
    float: right;
    margin-top: 0%;
}

footer{
    border-top: 1px solid black;
    font-style: italic;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    grid-template-columns: 12.5% 1fr 1fr 1fr 1fr 1fr 12.5%;
    display: grid;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
}

nav ul::before, nav ul::after{
    display: block;
    content: "";
}

nav a {
    display: block;
    padding: 1rem 2rem;
    white-space: nowrap;
}

nav li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

nav li a:hover {
    background-color: #111;
}

div.persona {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.01em 16px;
    border-radius: 16px;
    overflow: hidden;
    padding: .6rem;
    margin: 1rem 0 0;
    box-sizing: border-box;
}

div.foto {
    float: left;
}

div.foto img {
    height: 182px;
    width: 182px;
}

h1 img{
    width: 1.5rem;
    height: 1.5rem;
}

.oculto{
    display: none;
}