@import "../../node_modules/normalize.css/normalize.css";

.wrapper{
    width: 60%;
    margin: 2rem auto;
}

.ping1{
    /*width: 35%;
    height: 65%;*/
    width: 50px;
    height: 50px;
}

article p, article h2 article figure{
    float: left;
    display:  inline;
    color: green;
}

footer{
    border-top: 1px solid black;
    font-style: italic;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    grid-template-columns: 12.5% 1fr 1fr 1fr 1fr 1fr 12.5%;
    display: grid;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
}

nav ul::before, nav ul::after{
    display: bloack;
    content: "";
}

nav a {
    display: block;
    padding: 1rem 2rem;
    white-space: nowrap;
}

nav li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

nav li a:hover {
    background-color: #111;
}

h1 img{
    width: 1.5rem;
    height: 1.5rem;
}

