@import "../../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Coustard:900|Raleway');

.wrapper {
    width: 60%;
    margin: 2rem auto;
}

.arriba{
    display: grid;
    grid-template-columns: 70% 30%;
}

/*Figuras*/

article figure{
    margin: auto 1rem;
}

article figure.fig1 {
    width: 35%;
    float: right;
    margin-top: 0%;
}

article figure.fig2 {
    width: 40%;
    float: left;
    margin-top: 0%;
    margin-left: 0rem;
}

figure img{
    width: 100%;
}

/*header*/

header{
    text-align: center;
    width: 100%;
}

header h1{
    font-family: 'Coustard', serif;
    margin-bottom: 0rem;
}

header p{
    font-family: 'Raleway', serif;
    font-weight: 800;
    margin-top: 0.5rem;
}

/*Articulos*/

article p{
    margin-right: 1rem;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}

article h2, article h3{
    font-family: 'Raleway', serif;
    font-weight: 800;
}

p span{
    font-weight: 600;
}

/*Aside*/

aside{
    background-color: #E3F8FF;
    font-style: italic;
    font-family: 'Raleway', serif;
    padding: 0rem 1rem;
    float: right;
    width: 25%;
    font-size: 0.9rem;
    margin: 0.5rem;
}

/*Footer*/

footer{
    border-top: 1px solid black;
    font-style: italic;
}

/*Navbar*/

.menu ul {
    list-style: none;
    text-align: center;
    font-family: 'Raleway', serif;

    margin: 0;
    padding: 0;

    justify-content: center;
    overflow: hidden;

    background-color: #888;
    border-radius: 4px;

    grid-template-columns: 12.5% 1fr 1fr 1fr 1fr 1fr 12.5%;
    display: grid;
}

    .menu ul::before, nav ul::after{
        display: block;
        content: "";
    }

    .menu li a {
        display: block;
        padding: 1rem 2rem;
        white-space: nowrap;
        color: white;
        text-decoration: none;
        text-transform: capitalize;
    }

    .menu li a:hover {
        background-color: #777;
        border-radius: 4px;
    }


/*navbar replegada*/
.replegado{
    display: none;
}
    .replegado ul{
        list-style: none;
        text-align: center;
        font-family: 'Raleway', serif;
    
        margin: 0;
        padding: 0;

        justify-content: center;
        overflow: hidden;
    
        background-color: #888;
    }
    .replegado .barras{
        text-align: left;
        background-color:white;
        padding-left:1rem;
    }

    .replegado li a {
        display: block;
        padding: 1rem 2rem;
        white-space: nowrap;
        color: white;
        text-decoration: none;
        text-transform: capitalize;
        padding: 0.5rem 0rem;
    }

    li img {                    /*imagen barras*/
        width: 25px;
        height: 25px;
    }

/*Imagenes*/

div.persona {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.01em 16px;
    border-radius: 16px;
    overflow: hidden;
    padding: .6rem;
    margin: 1rem 0 0;
    box-sizing: border-box;
}

div.foto {
    float: left;
}

div.foto img {
    height: 182px;
    width: 182px;
}

div.persona div.foto {
    float: left;
}


h1 img{
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (max-width: 1024px){
    .wrapper{
        width: 80%;
    }
}

@media screen and (max-width:768px){ /*tablet*/
    .wrapper {
        width: 90%;
    }

    aside{
        padding: 0rem;
        float: none;
        width: 100%;
        margin: 1rem 0rem;
        padding: 1rem 0rem;
    }

    aside p, aside h2{
        margin: 0rem 1rem;
    }
    
    article p{
        width: 100%;
    }

    article figure.fig1, article figure.fig2{
        width: 100%;
        display: block;
        margin: 0rem;
        padding-bottom: 1rem;
    }

    nav ul {
        grid-template-columns: 5% 1fr 1fr 1fr 1fr 1fr 5%;
    }
}

@media screen and (max-width:480px){ /*movil*/
    .wrapper {
        width: 95%;
    }

    nav{
        display: none;
        background-color: #159;
    }

    .replegado{
        display: block;
    }
}


