<template id="about">
    <div class="autores" id="autores">

        <!-- Persona 1 -->

        <div class="persona">
            <div class="nombre">
                <a>Marcos O.</a>
            </div>
            <div class="foto">
                <img src="./assets/foto_marcos.jpg" alt="Foto marcos">
            </div>
            <div class="role">
                <a>Desarrollador</a>
            </div>
            <div class="datos">
                <a>Alumno de la UPM. En el último año de Ingeniería de Software, actualmente en Babelcamp 2018.</a>
            </div>
        </div>

        <!-- Persona 2 -->

        <div class="persona">
            <div class="nombre">
                <a>Pablo P.</a>
            </div>
            <div class="foto">
                <img src="./assets/foto_pablo.jpg" alt="Foto pablo">
            </div>
            <div class="role">
                <a>Desarrollador</a>
            </div>
            <div class="datos">
                <a>Alumno de la UPM. En el último año de Ingeniería de Software, actualmente en Babelcamp 2018.</a>
            </div>
        </div>

        <!-- Persona 3 -->

        <div class="persona">
            <div class="nombre">
                <a>Benjamin S.</a>
            </div>
            <div class="foto">
                <img src="./assets/foto_beni.jpg" alt="Foto benjamin">
            </div>
            <div class="role">
                <a>Desarrollador</a>
            </div>
            <div class="datos">
                <a>Alumno de la UPM. En el último año de Ingeniería de Software, actualmente en Babelcamp 2018.</a>
            </div>
        </div>

    </div>

    <div id="formulario_contacto">
        <form name="form_contacto" id="form_contacto" method="post">
            <fieldset>
                <legend>Contacto</legend>
                <p>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" size="30" placeholder="Escriba su nombre" required>
                </p>
                <div id="nombre-validate" class="validate oculto">
                    <i class="fa fa-times-circle"></i> El nombre no puede estar vacío</div>
                <p>
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" size="30" maxlength="200" placeholder="Escriba su email" required>
                </p>
                <div id="email-validate" class="validate oculto">
                    <i class="fa fa-times-circle"></i> El email no puede estar vacío</div>
                <p>
                    <label class="top" for="sugerencias">Sugerencias:</label>
                    <textarea id="sugerencias" name="sugerencias" placeholder="Escriba sus sugerencias" maxlength="350"></textarea>
                </p>
                <p>
                    <input type="checkbox" id="newsletter" name="newsletter">
                    <label for="newsletter">Deseo recibir correos sobre pingüinos</label>
                </p>
                <p>
                    <input type="checkbox" id="terminos" name="terminos">
                    <label for="terminos">Definitivamente he leído con detenimiento y acepto los términos de privacidad</label>
                </P>
                <div id="terminos-validate" class="validate oculto">
                    <i class="fa fa-times-circle"></i> Debe aceptar los términos de privacidad</div>
                <p>
                    <input id="submit" type="button" value="Aceptar" onclick="recogerDatos()">
                    <input id="reset" type="reset" value="Borrar" onclick="resetValidate()">
                </p>
            </fieldset>
        </form>
    </div>
    <div id="resultado_sugerencia" class="oculto salidaDatos">
        <h2>Datos de la sugerencia:</h2>
        <ul id="parrafo_resultado"> </ul>
    </div>
</template>

<script type="text/javascript">

    this.oDatos = {}

    function escribirDatos() {
        document.getElementById("form_contacto").classList.toggle("oculto")
        document.getElementById("resultado_sugerencia").classList.toggle("oculto")
        let output = document.getElementById("parrafo_resultado")

        for (var i in this.oDatos) {
            // guardar nombre del item con primera letra mayuscula
            let nombreItem = i.charAt(0).toUpperCase() + i.slice(1);
            localStorage.setItem(nombreItem, this.oDatos[i])
            output.innerHTML += "<li>" + nombreItem + ": <strong>" +
                this.oDatos[i] + "</strong></li>";
        };
    }

    function getTextos() {
        var inputs = document.querySelectorAll("input[type='text']")
        for (var i = 0; i < inputs.length; i++) {
            this.oDatos[inputs[i].name] = inputs[i].value;
        }
        this.oDatos.Sugerencias = document.getElementById("sugerencias").value;
    }

    function getCheckboxes() {
        this.oDatos["Suscripcion newsletter"] =
            (document.getElementById("newsletter").checked) ?
                "SI" : "NO";
        this.oDatos["Acepta terminos"] =
            (document.getElementById("terminos").checked) ?
                "SI" : "NO";
    }

    function validarFormulario() {
        let nombre = document.getElementById("nombre").value
        let email = document.getElementById("email").value
        let terminos = document.getElementById("terminos").checked

        resetValidate()

        if (nombre == "" || email == "" || !terminos) {
            if (nombre == "") {
                document.getElementById("nombre-validate").classList.remove("oculto")
            }
            if (email == "") {
                document.getElementById("email-validate").classList.remove("oculto")
            }
            if (!terminos) {
                document.getElementById("terminos-validate").classList.remove("oculto")
            }
            return false
        }

        return true
    }

    function recogerDatos() {
        this.getTextos();
        this.getCheckboxes();
        if (this.validarFormulario()) {
            this.escribirDatos()
        }
    }

    function resetValidate() {
        document.getElementById("nombre-validate").classList.add("oculto")
        document.getElementById("email-validate").classList.add("oculto")
        document.getElementById("terminos-validate").classList.add("oculto")
    }
</script>