<template id="home">
    <aside>
        <h2>
            Aves no voladoras
        </h2>
        <p>
            Las aves no voladoras son aves que carecen de la capacidad de volar. Estas especies dependen de sus capacidades para correr o nadar, aunque proceden de ancestros voladores.1​ En la actualidad existen unas 40 especies,2​ las mejor conocidas son las ratites (avestruz, ñandú, emú, casuario, kiwi y los pingüinos). Algunas aves evolucionaron perdiendo la capacidad de vuelo a consecuencia de no tener depredadores, por ejemplo en las islas oceánicas donde volar era un gasto de energía innecesario. Aunque probablemente no fue el caso de las ratites ya que sus orígenes evolutivos indican una procedencia continental.
        </p>
    </aside>

    <article class="art1">
        <h2>
            Spheniscidae (Pingüino)
        </h2>
        <figure class="fig1">
            <img src="./assets/ping1.jpg" alt="Pinguino en playa" title="Pingüino">
        </figure>
        <p>
            Los pingüinos (familia Spheniscidae, orden Sphenisciformes) son un grupo de <span> aves marinas, no voladoras, </span>que se distribuyen casi exclusivamente en el Hemisferio Sur (exceptuando el pingüino de las islas Galápagos, una especie del género Spheniscus: Spheniscus mendiculus, endémica de las islas Galápagos, Ecuador). El nombre del orden proviene del vocablo Spheniscus el cual proviene del griego σφήν (Sphen) = cuña, -iscus es un sufijo diminutivo. Literalmente "cuñita", haciendo referencia a su forma hidrodinámica al nadar. La mayoría de los pingüinos pasan cerca de tres cuartas partes de su tiempo en el agua. Sus cuerpos están diseñados para adaptarse fácilmente a las aguas.
        </p>
        <h3>
            Historia:
        </h3>
        <p>
            Los primeros europeos en observar a estas aves fueron miembros de la primera expedición de Vasco da Gama,2​ que les llamaron pájaros niño o pájaros bobos por su andar torpe y erguido y por ser un ave incapaz de volar.[cita requerida] Años más tarde, cuando los primeros británicos vieron a estos animales, les llamaron penguins (del galés penwyn, pen = 'cabeza' y gwyn = 'blanca'), que era el nombre que daban a algunas especies de la familia Acidae, como al alca gigante del Atlántico norte (Pinguinus impennis),2​ y al alca común (Alca torda).3​ Sin embargo y pese a las aparentes similitudes resultado de la convergencia evolutiva, las alcas del Hemisferio Norte no están relacionadas con los Spheniscidae. Con el paso del tiempo, ha ido imponiéndose aplicar el apelativo «pingüino» solo a los miembros de la familia Spheniscidae.
        </p>    
    </article>
    
    <article class="art2">
        <h2>
            Adaptaciones generales
        </h2>
        <p>
            Los pingüinos son las únicas aves vivientes no voladoras adaptadas al buceo propulsado por las alas. Por ello, sus alas se han convertido en aletas con huesos fuertemente comprimidos y articulaciones rígidas que impiden el movimiento independiente de los huesos del ala. Los huesos son más densos que los de otras aves, aumentando su resistencia a los impactos y aumentando también el peso del ave reduciendo su flotabilidad. 
            Las patas están situadas muy atrás en el cuerpo, dificultando el desplazamiento en tierra pero actuando como timones bajo el agua. Los pingüinos son capaces de alcanzar velocidades de hasta 60 km/h, aunque su velocidad normal oscila entre 5 y 10 km/h. 
        </p>
        <p>
            El tiempo de inmersión aumenta con base al tamaño de la especie, siendo el emperador (Aptenodytes forsteri) el que contiene más tiempo la respiración: unos 18 minutos. Las principales reservas de oxígeno durante estos periodos se encuentran no en forma de oxígeno pulmonar, sino que se halla captado en la musculatura que contiene altas cantidades de mioglobina.
        </p>
        <h3>
            Comportamiento
        </h3>
        <figure class="fig2">
            <img src="./assets/ping2.jpg" alt="Pinguino en hielo" title="Pingüino" >
        </figure>
        <p>
            Los ritos de cortejo son variados pero no existe dimorfismo sexual marcado. Muchas especies de pingüinos nidifican en colonias densas y pueden ser muy territoriales. Sus nidos son sencillos y algunas especies anidan en galerías subterráneas. El pingüino emperador no emplea nido y en su lugar mantiene el huevo entre sus patas durante toda la incubación. El periodo de incubación oscila entre los treinta y tres y sesenta y dos días según la especie. Los huevos son en general de color claro (blanco o verdoso) y todas las especies suele poner dos, a excepción del emperador que pone solo uno. Pese a lo anterior, en general solo uno de los huevos eclosiona y de hacerlo los dos, normalmente solo uno de los pichones sobrevive. 
        </p>
        <p>
            El desarrollo de los polluelos es acelerado, de modo que suelen estar bien desarrollados en dos o tres semanas y tras la primera muda de plumaje se independizan totalmente. Los pingüinos se comunican a través de su graznido, lo cual les permite reconocerse después de las grandes jornadas en busca de alimento. 
        </p>
        <p>
            Los pingüinos de los géneros Aptenodytes, Megadyptes, Eudyptula y Spheniscus se alimentan fundamentalmente de peces. El género Pygoscelis se alimenta fundamentalmente de plancton. La dieta del género Eudyptes es muy poco conocida, pero se cree que muchas especies se alimentan fundamentalmente de plancton. En todos los casos la dieta se complementa con cefalópodos o plancton.
            Todos los pingüinos, al igual que otras aves marinas, poseen una glándula que les permite eliminar el exceso de sal al ingerir agua de mar y hace innecesaria la ingestión de agua dulce.5​
        </p>
    </article>

    <article>
        <h2>Video: Penguins Dressed for Success | National Geographic</h2>
        <iframe onload="this.width=screen.width;this.height=screen.height;"
            src="https://www.youtube.com/embed/YUlG_PKzpvc">
        </iframe>
    </article>
</template>